@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-6">
            <!-- form user info -->
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Login</h4>
                </div>
                <div class="card-body">
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"style="margin-bottom:10px;margin-top:5px"></div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" asp-for="Input.UserName"></label>
                            <div class="col-lg-9">
                                <input asp-for="Input.UserName" class="form-control" />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" asp-for="Input.Password"></label>
                            <div class="col-lg-9">
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <button type="submit" class="EdgeButton EdgeButton--primary">Log in</button>

                            </div>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /form user info -->
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
